 <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
        <div class="post-preview">
          <%= link_to post_path(post) do %>
            <h2 class="post-title">
              <strong><%= post.title %></strong>
            </h2>
          <% end %>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a> on <%= post.published_at %></p>
        </div>
      <% end %>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <!-- <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a> -->
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>

